.battle {
	display: flex;
	flex-direction: column;
	height: 80vh;
	width: 80vw;
	gap: 20px;
}
.top-container {
	flex: 60%;
	position: relative;
}
.bot-container {
	flex: 30%;
	width: 80%;
	margin: auto;
	display: flex;
}
